body {
	background-color: #1B1B1B;
}

.wrapper {
	margin: 0px auto;
	background-color: #343434;
	border-radius: 20px;
	padding: 20px;
	width: fit-content;
}
	.wrapper * {
		margin: 10px auto;
	}
	.wrapper h2 {
		font-size: 32px;
		text-align: center;
		color: #FFFFFF;
	}
	.wrapper .input {
		border-radius: 20px;
		text-align: center;
		display: block;
		color: rgb(0, 0, 0, 0.5);
	}
	.button {
		margin-bottom: 0px;
		border-radius: 20px;
		display: block;
		background: #6B6B6B;
		padding: 5px;

		text-align: center;
		font-weight: bold;
		color: white;
	}

