body {
	background-color: #1B1B1B;
}

h2 {
	text-decoration: underline;
}

.trace,
.wrapper {
	background-color: #343434;
	color: white;
	padding: 20px;
	margin: 50px auto;
	border-radius: 20px;
}

.wrapper {
	width: fit-content;
}
	.wrapper * {
		margin: 10px auto;
	}
	.wrapper h2 {
		font-size: 32px;
		text-align: center;
		color: #FFFFFF;
	}
	.input {
		border-radius: 20px;
		text-align: center;
		display: block;
		color: rgb(0, 0, 0, 0.5);
	}
	.button {
		margin-bottom: 0px;
		border-radius: 20px;
		display: block;
		background: #6B6B6B;
		padding: 5px;

		text-align: center;
		font-weight: bold;
		color: white;
	}
	.result {
		color: white;
		text-align: center;
	}


	.team {
		display: flex;
		gap: 5px;
	}
		.person {
			flex: 1;
		}
			.name,
			.NIM {
				color: white;
				text-align: center;
				width: 200px;
				margin: 0px 0px;
			}
			.name { font-weight: bold; }
			.NIM { font-style: italic; }
		.break {
			border: 1px solid white;
		}
.trace {
	text-align: center;
}
	.trace-item {
	}
